__pycache__
*.pt
*egg-info*
*.csv
*.jpg
*.pdf
*.log
wandb
tmp
dev
*.pyc
*.zip
*.so
*.egg-info
*.o
.vscode
*.sh
!setup_env.sh
build
dist
outputs
wandb
*.pkl
c4_wiki
ckpts/
scripts/
.cache/
meta-llama/
